* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    font-family: "微软雅黑";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapperBox {
   width: 100%; 
}

.navBox {
    width: 100%;
    height: 40px;
    background-color: #00848A;
}


.navBar {
    width: 1400px;
    min-width: 1400px;
    height: 30px;
    
    margin: 0 auto;
}

.navBar .logo {
    width: 34;
    height: 31;
    float: left;
}

.logo img {
    margin-top: 5px;
}

.navBar nav {
    float: right;

}

.navBar nav ul li {
    float: left;
}

.navBar nav a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
}


.navBar nav a:hover {
    background: #fff;
    color: #008484;
}

.bannerBox {
    width: 100%;
    height: 640px;
    overflow: hidden;
    position: relative;
}

.bannerBox li .img {
    display: none;
    width: 100%;
}

.bannerBox li .current {
    display: block;
}

.bannerBox .dots {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 100px;
    margin-left: -50px;

}

.bannerBox .dots > span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: red;
}

.bannerBox .dots > span:nor(:last-child) { 
    /* 不选择最后一个 */
    margin-right: 5px;
}

.bannerBox .dots > span.square {
    background-color: #00848A;
}