* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    font-family: "微软雅黑";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

.wrapperBox {
   width: 100%; 
}

.navBox {
    width: 100%;
    height: 40px;
    background-color: #00848A;
}


.navBar {
    width: 1400px;
    min-width: 1400px;
    height: 30px;
    
    margin: 0 auto;
}

.navBar .logo {
    width: 34;
    height: 31;
    float: left;
}

.logo img {
    margin-top: 5px;
}

.navBar nav {
    float: right;

}

.navBar nav ul li {
    float: left;
}

.navBar nav a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
}


.navBar nav a:hover {
    background: #fff;
    color: #008484;
}

.bannerBox {
    width: 100%;
    height: 640px;
    overflow: hidden;
    position: relative;
}

.bannerBox li .img {
    display: none;
    width: 100%;
}

.bannerBox li .current {
    display: block;
}

.bannerBox .dots {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 100px;
    margin-left: -50px;

}

.bannerBox .dots > span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    background-color: red;
}

.bannerBox .dots > span:nor(:last-child) { 
    /* 不选择最后一个 */
    margin-right: 5px;
}

.bannerBox .dots > span.square {
    background-color: #00848A;
}

.searchBox {
    width: 975px;
    height: 68px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #ccc;
}

.searchBox form input {
    width: 907px;
    height: 68px;
    float: left;
    text-indent: 20px;
    border-radius: 5px;
}

/* 选择type为submit的元素 */
.searchBox form input[type="submit"] {
    width: 68px;
    height: 68px;
    background: #0f0;
    background:url(../img/icon/searchicon.png) no-repeat center;
    display: inline-block;
}

.oddsBox {
    width: 1400px;
    margin: 30px auto;
}

.oddsBox .title {
    height: 40px;
}

.oddsBox .title p {
    background: #00848A;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 22px;
    width: 200px;
    text-align: center;
    float: left;
}

.oddsBox .title span {
    font-size: 22px;
    /* display: inline-block; */
    height: 40p;
    line-height: 40px;
    padding-left: 10px;
    float: left;
    color: #00848A;
}
.oddsBox .title span i {
    font-style: normal;
    padding: 0 5px;
    display: inline-block;
}

.content {
    clear: left;
    height: 760px;
    padding-top: 40px;
}

.content .list .list_nav {
    display: inline-block;
    width: 100px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #ccc;
    box-sizing: border-box;
    margin-right: 80px;
}
.content .list .list_nav:last-child {
    margin-right: 0;
}

.content .list .current_option {
    background: #00848A;
    color: #fff;
}

.productBox {
    width: 100%;
    margin: 30px 0;
}

.infoBox {
    width: 340px;
    float: left;
    margin: 20px 13px 0 0;
}

.infoBox:nth-child(4) {
    margin-right: 0;
}