* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapperBox {
   width: 100%; 
}

.navBox {
    width: 100%;
    height: 40px;
    background-color: #00848A;
}


.navBar {
    width: 1400px;
    min-width: 1400px;
    height: 30px;
    
    margin: 0 auto;
}

.navBar .logo {
    width: 34;
    height: 31;
    float: left;
}

.logo img {
    margin-top: 5px;
}

.navBar nav {
    float: right;

}

.navBar nav ul li {
    float: left;
}

.navBar nav a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    color: #fff;
}


.navBar nav a:hover {
    background: ;
}